/* Basic Reset */
.bg {
  background-color: gainsboro;
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 60vh; /* or any desired height */
  padding: 6rem;
}

/* Desktop Styles */
.carousel-desktop {
  display: none;
  width: 100%;
}

.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.carousel-item img {
  width: 20%; /* Full width of the container */
  height: 30%; /* Full height of the container */
  object-fit: cover; /* Ensure images cover the container without distortion */
  position: relative;
  z-index: 1;
}

.carousel-item img:first-child {
  width: 40%; /* Full width of the container */
  height: 40%; /* Full height of the container */
  transform: translateY(20px);
  z-index: 0;
}

.carousel-indicator {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.carousel-indicator span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.carousel-indicator .active {
  background-color: #fff;
}

/* Mobile Styles */
.carousel-mobile {
  display: none;
  width: 100%;
  position: relative;
}

.carousel-mobile img {
  width: 100%;
  height: 100%; /* Set image to full height */
  object-fit: cover; /* Ensures images cover the area */
}

.carousel-indicator {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

/* Responsive Adjustments */
@media (min-width: 1024px) {
  .carousel-desktop {
    display: flex;
  }

  .carousel-mobile {
    display: none;
  }
}

@media (max-width: 1024px) {
  .carousel-desktop {
    display: none;
  }

  .carousel-mobile {
    display: block;
  }

  .carousel-container {
    height: 100vh; /* Full height on smaller screens */
  }
}

@media (max-width: 824px) {
  .carousel-container {
    padding: 1rem;
    padding-bottom: 3rem;
    height: 70vh; /* Adjust height for smaller devices */
  }
}
