/* General Container */
.card-control {
  height: auto;
  width: 100%;
  padding: 3rem;
}
.cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

/* Individual Card */
.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  width: 50%;
  padding: 60px;
  box-sizing: border-box;
  text-align: left;
  margin-top: 5rem;
  border-radius: 2rem;
  height: auto;
}

/* Card Heading */
.card-heading {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}

/* Paragraph Styling */
.card p {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
  text-align: start;
  width: 100%;
  height: auto;
}

/* Bullet List */
.card ul {
  list-style-type: disc;
  padding-left: 20px;
  /* line-height: 2rem; */
  margin-top: 1rem;
}

.card ul li {
  font-size: 0.95rem;
  line-height: 1.5rem;
  color: #666;
  height: 100%;
}

/* Responsive Design */
@media (max-width: 838px) {
  .card-control {
    height: auto;
  }
  .cards-container {
    flex-direction: column;
  }
  .card {
    padding: 25px;
    width: 800px;
    height: auto;

    max-width: 800px;
  }
  .card p {
    width: 100%;
    text-align: start;
  }
  .card ul {
    margin-top: 3rem;
  }

  .card {
    max-width: 100%;
  }
}

@media (max-width: 458px) {
  .card {
    width: 100%;
  }
  .card ul {
    margin-top: 1rem;
  }
}
