/* Background Image Section */
.aboutexpert-bg-image {
  height: auto;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  background-image: url("/about-image.png");
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2rem;
}

.aboutexpert-nav-btns {
  display: none;
}

@media (max-width: 768px) {
  .aboutexpert-bg-image {
    background-image: url("/about-image.png");
    height: auto;
    padding: 6rem 2rem;
    margin-top: -2rem;
  }
}

.aboutexpert-content-text {
  max-width: 500px;
  color: white;
}

.aboutexpert-content-text span {
  width: 100%;
  font-size: 32px;
  font-weight: 700;
  color: #333333;
}

.aboutexpert-content-text p {
  font-size: 16px;
  margin-top: 1.5rem;
  line-height: 1.5;
  color: #333333;
}

.aboutexpert-cards-section {
  position: relative;
  display: flex;
  align-items: center;
  margin: 2rem auto;
}

.aboutexpert-cards-container {
  display: flex;
  gap: 1rem;
  overflow: hidden;
  scroll-behavior: smooth;
  margin: 0 auto;
  margin-top: -7rem;
}

.aboutexpert-card {
  height: 220px;
  width: 261.8px;
  margin: 17px;
  text-align: center;
  display: block;
  font-size: 14px;
  letter-spacing: -0.048px;
  line-height: 20px;
  background-color: #ffffff;
  color: #000000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 15px 29px 0 7px;
}

.aboutexpert-card:hover {
  transform: scale(1.05);
  color: #2596be;
}

.aboutexpert-card strong {
  margin-bottom: 0.5rem;
  font-size: 24px;
  font-weight: 700;
}

.aboutexpert-card p {
  height: 98px;
  width: 225.45px;
  margin: 1rem 0 10px 0;
  text-align: center;
}

.aboutexpert-survey-text {
  font-weight: bold;
  color: #007bff;
}

@media (max-width: 768px) {
  .aboutexpert-custom-container {
    height: auto;
    /* margin-bottom: -50%; */
  }

  .aboutexpert-cards-container {
    scroll-snap-type: x mandatory;
    gap: 0.5rem;
  }

  .aboutexpert-card {
    flex: 0 0 20%;
    scroll-snap-align: start;
    padding-top: 2rem;
  }

  .aboutexpert-card p {
    height: 130px;
    text-align: center;
  }

  .aboutexpert-nav-btns {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
  }

  .aboutexpert-nav-btn {
    background-color: #fff;
    color: black;
    font-size: 1.5rem;
    border: none;
    padding: 0.5rem 0.5rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .aboutexpert-nav-btn:hover {
    background-color: #0056b3;
    transform: scale(1.1);
  }

  .aboutexpert-nav-btn:active {
    transform: scale(1);
  }
}

@media (max-width: 368px) {
  .aboutexpert-custom-container {
    margin-bottom: 50%;
  }
}
/* Background Image Section */
.aboutexpert-bg-image {
  height: auto;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  background-image: url("/about-mobile.png");
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2rem;
}

.aboutexpert-cards-section {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

.aboutexpert-cards-container {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 1rem;
  width: 100%;
  scroll-snap-type: x mandatory;
}

.aboutexpert-cards-container::-webkit-scrollbar {
  height: 8px;
}

.aboutexpert-cards-container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.aboutexpert-cards-container::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.aboutexpert-card {
  flex: 0 0 auto;
  scroll-snap-align: start;
  height: 10rem;
  /* width: calc(100% - 2rem); */
  width: auto;
  text-align: center;
  font-size: 14px;
  letter-spacing: -0.048px;
  line-height: 20px;
  background-color: #ffffff;
  color: #000000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 1rem;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.aboutexpert-card:hover {
  transform: scale(1.05);
}

.aboutexpert-card strong {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.aboutexpert-card p {
  font-size: 1rem;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .aboutexpert-custom-container {
    height: auto;
  }
  .aboutexpert-bg-image {
    height: 100vh;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-image: url("/about-image.png");
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2rem;
  }
  .aboutexpert-card {
    width: calc(33.333% - 2rem);
  }
}
