#site-content {
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  background-color: #0056b3;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 2.3rem;
}
.row2 {
  margin: 3rem 0;
}

.btn:hover {
  background-color: #004494;
}

.intro-section {
  padding: 20px 0;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 80%;
  margin: 2rem auto;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 2rem auto;
  }
  .row img {
    width: 100%;
  }

  .col-md-4,
  .col-md-8 {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 18pt;
  }

  .btn {
    padding: 8px 16px;
    font-size: 14px;
  }
}
